{% extends 'base/base2.html' %}
{% block content %}
        <div class="main-container">
            <section class="text-center imagebg" data-overlay="4">
                <div class="background-image-holder"> <img alt="background" src="static/img/hero-1.jpg"> </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <div class="boxed boxed--lg bg--dark subscribe-form-1">
                                <h3>Add your cosplay here:</h3>
                                <h5>Create cosplay plans? Click here</h5>
                                <div class="row justify-content-center no-gutters">
                                    <div class="col-md-8 text-left">
                                        <form action="//mrare.us8.list-manage.com/subscribe/post?u=77142ece814d3cff52058a51f&amp;id=f300c9cce8" data-success="Thanks for signing up.  Please check your inbox for a confirmation email." data-error="Please provide your name and email address and agree to the terms."> <input class="validate-required" type="text" name="NAME" placeholder="Your Name"> <input class="validate-required validate-email" type="email" name="EMAIL" placeholder="Email Address"> <input class="validate-required" type="checkbox" name="group[13737][1]"> <span>I have read and agree to the <a href="#">terms and conditions</a></span> <button type="submit" class="btn btn--primary type--uppercase">Submit</button>
                                            <div style="position: absolute; left: -5000px" aria-hidden="true"> <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value=""> </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
{% endblock %}